:root {
	font-family: "Montserrat", sans-serif;
}

body {
	display: flex;
	place-items: center;
	background-color: #004f89;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button.info-btn {
	background-color: #00548f;
	transition: 0.2s;
}

button.info-btn:hover {
	background-color: #0081de;
}
button.success-btn {
	background-color: #00ae8c;
	transition: 0.2s;
}

button.success-btn:hover {
	background-color: #23c459;
}

span {
	color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.MuiTypography-root {
	color: white !important;
	font-weight: bold;
}
